.panel{
    width:30rem;
    height:35rem;
    background:#89bbde;
    padding:1rem;
    margin-top:4rem;
    border-radius:6px;
    h2,p{
        color:#fff;
    }

    h2{
        text-align:center;
        margin:2rem 0;
    }
    .input{
        margin:15% 15%;
        input{
            width:100%;
            font-size:1.3rem;
            height:2rem;
            background:#fff;
            color:#111;
            border-radius:4px;
        }
        p{
            font-size:1.1rem;
            margin:10px 0;
        }
    }

    button{
        width:65%;
        margin-top:6rem;
        display:flex;
        justify-content:center;
        flex-direction:column;
        align-items:center;
        color:#92c1e2;
        font-size:1.5rem;
        height:3rem;
        border-radius:6px;
        background:#fff;
        transition:0.4s;
        cursor:pointer;

        &:hover{
            background:#68acdc;
            color:#fff;
        }
    }
}